<nav>
  <a href='/notes'>Articles</a>
  /
  <a href='https://github.com/Najaf'>GitHub</a>
  /
  <a href='https://twitter.com/alinajaf'>Twitter</a>
  /
  <a href='https://www.linkedin.com/in/najafali/'>LinkedIn</a>
  /
  <a href='https://strongwordsbyali.substack.com/'>Substack</a>
</nav>
