
<article>
<h1>Najaf Ali's Homepage</h1>

<p>I'm a British immigrant to Japan. I live in Japan because I like it here more than anywhere else.</p>

<!--<p>I speak fluent Japanese, well enough that my code switch is fast and easy, and I can use circumlocution and other tactics to survive in any conversation. I learned Japanese primarily by drinking with Japanese people. I try to cook but mostly end up eating out, so probably know Sendai's restaurants better than most natives here.</p>-->

<p>I was born in the UK and moved around to a number of different countries, before graduating and going to Japan for the first time on the JET programme in 2006. After a ten year break in the UK where I founded a software development consultancy and had a couple of children, I moved back to Japan in August 2018.</p>

<p>My big career goals are the same as they've been for nearly 15 years: to make an income online by producing content and eventually software. I've been a web application developer, technical lead, CTO, and development manager for the best part of my career.</p>

</article>
