/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}

article {
  max-width: 660px;
  margin: 0 auto 0 auto;
  line-height: 1.5em;
  font-size: 1.2em;
  color: #ddd;
}

article h1 {
}

.note-title {
  margin-bottom: 5px;
}

.microtext {
  opacity: 0.6;
  font-size: .875rem;
  line-height: 1.25rem;
}

body {
  background-color: #111;
}

img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
}

section a {
  text-decoration: underline;
}

li::marker {
  color: #525252
}
